.btn-facebook {
    background: #3B5998;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #263961; 
  }

  .btn-google {
    background: orangered;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: yellowgreen; 
  }